!.gitignore
!/src/
!/Tests/
!/tools/
!/composer.json
!/deptrac.yaml
!/phpdoc.xml
!/phpstan.neon
!/rector.php
!/bootstrap.php

!/LICENSE
!/README.md
/build/*
/.phpdoc/
/docs/*
/vendor/
/composer.lock
/j4x/
/j51x/
/j52x/
